html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  display: flex;
  margin: 0 10%;
}

.flex-child-1 {
  flex: 1;
}

.flex-child-2 {
  flex: 1;
}

.flex-child-3 {
  flex: 1;
}

