:root {
  font-family: "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --obsidian: #0b1215;
  --snow: #fffafa;
  --alice-blue: #f0f8ff;
  --oil: #0c0c0c;
  --charcoal-gray: #171717;
  --gainsboro: #f1eff2;
}

html {
  box-sizing: border-box;
  font-style: normal;
}

[data-theme="light"] {
  --color-bg: var(--alice-blue);
  --color-fg: var(--obsidian);
  --color-bg-kbd: var(--gainsboro);
  --color-fg-kbd: var(--oil);
  --color-bg-well: var(--snow);
  --color-fg-well: var(--obsidian);
  --color-fg-anchor: #646cff;
  --color-fg-anchor-hover: #535bf2;
  --color-border-flex-child: var(--obsidian);
  --color-border-li: #e0e0e0;
}

[data-theme="dark"] {
  --color-bg: var(--obsidian);
  --color-fg: var(--alice-blue);
  --color-bg-kbd: #333333;
  --color-fg-kbd: var(--alice-blue);
  --color-bg-well: var(--charcoal-gray);
  --color-fg-well: var(--snow);
  --color-fg-anchor: #ff6e6e;
  --color-border-flex-child: #e0e0e0;
  --color-border-li: var(--obsidian);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

header {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 2rem;
}

button {
  border-radius: 100px;
  height: 3rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  cursor: pointer;
  color: var(--color-fg);
  background-color: var(--color-bg);
  border: 0.25rem solid var(--color-fg);
  transition: all 0.2s ease-in-out;
}

.icon {
  width: 0.7rem;
  height: 0.7rem;
  vertical-align: middle;
  fill: currentColor;
}

h1,
h2 {
  color: var(--color-fg);
}

h1 {
  line-height: 1.1;
  margin-bottom: 10%;
}

main {
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 0 auto;
  text-align: left;
}

.flex-child {
  flex: auto;
  margin-bottom: 20px;
}

.flex-child > p {
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  border-bottom: 1px dashed var(--color-border-li);
  line-height: 1.55;
  padding: 7px 0;
  list-style-type: none;
}

kbd {
  background-color: var(--color-bg-kbd);
  color: var(--color-fg-kbd);
  font-family: monospace;
  font-size: 1.15em;
  font-weight: bold;
  padding: 0.27em;
}

.well {
  background: var(--color-bg-well);
  color: var(--color-fg-well);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  padding: 19px;
  line-height: 26px;
}

footer {
  text-align: center;
  margin-bottom: 40px;
}

a {
  font-weight: 500;
  color: var(--color-fg-anchor);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-fg-anchor-hover);
  text-decoration: underline;
}

/* Large */
@media screen and (min-width: 992px) {
  header {
    padding: 0 5rem;
    justify-content: space-between;
    flex-flow: row;
  }

  main {
    gap: 20px;
  }

  h1 {
    margin: 0px;
  }

  .icon {
    width: 1rem;
    height: 1rem;
  }

  .flex-child {
    border: 5px solid var(--color-border-flex-child);
    border-radius: 10px;
    flex: 1 1 20%;
  }

  .flex-child > *:not(.well):not(p) {
    padding: 20px;
  }

  .flex-child > p {
    padding: 0% 0% 2% 5px;
    margin-left: 5%;
  }

  .well {
    margin-left: 5px;
    margin-right: 5%;
  }

  h1,
  h2 {
    padding: 2%;
  }
}
